<table class="table">
    <thead>
        <tr>
            <ng-container *ngIf="columnValue">
                <th scope="col" *ngFor="let column of columnValue; let i = index;"
                    [attr.aria-sort]="isSortActive ? getAriaSortOrder(i) : 'null'">
                    <button class="th-sortable" (click)="applySort(column.key, i)">
                        {{column.value}}
                    </button>
                </th>
            </ng-container>
        </tr>
    </thead>
    <tbody *ngIf="loadingTableData; else loaded">
        <tr class="table-empty">
            <td colspan="100%">
                <i class="fa fa-spinner fa-spin icon-left" aria-hidden="true"></i>Loading data
            </td>
        </tr>
    </tbody>
    <ng-template #loaded>
        <tbody *ngIf="tableData.length > 0; else noColumnData">
            <tr *ngFor="let dataList of tableData">
                <td>{{dataList.date}}</td>
                <td>{{dataList.amount}}</td>
                <td>{{dataList.phone}}</td>
                <td>{{dataList.description}}</td>
            </tr>
        </tbody>
    </ng-template>
    <ng-template #noColumnData>
        <tbody>
            <tr class="table-empty">
                <td colspan="100%">
                    No data available
                </td>
            </tr>
        </tbody>
    </ng-template>
</table>
<app-table-footer *ngIf="totalRecords" [tableDataStartIndex]="setPageStartPoint" [totalRecords]="totalRecords"
    [defaultNumberOfRows]="defaultNumberOfRows" (getPageCount)="getPageCount($event)"></app-table-footer>