@import "../../styles/_global-variables";

.table
{
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid $border-secondary;
    border-top: 0;
    margin-bottom: 5px;
    color: $midnight;
}

.table td
{
    border: 0;
    vertical-align: middle;
}

th
{
    padding: 0;
}

td
{
    padding: 10px 15px;
}

thead
{
    background: $midnight;

    th 
    {   
        width: 1030px;
        background-color: $cloudy-blue;
        padding: 11px 15px 12px 15px;
        
        &:last-of-type
        {
            border-right-color: $border-secondary;
        }

        &.th-sorted
        {
            cursor: pointer;
        }

        &.action-column
        {
            padding: 10px 40px 10px 15px;

            &::after
            {
                display: none;
            }
        }
    }

    th::after
    {
        position: absolute;
        padding-bottom: 5px;
        opacity: .5;
    }

    th.sortDesc::after
    {
        content: $icon-sort-up;
        opacity: 1;
    }
}

tbody
{
    tr
    {
        outline: 1px solid transparent;

        &:nth-child(even)
        {
            background: $cloud;
        }

        &:hover
        {
            outline: 1px solid $accent-primary;
            background: $ice;
        }
    }

    tr.table-empty
    {
        &:hover
        {
            outline: 0;
        }

        & td
        {
            font-weight: $semi-bold;
        }
    }
}

.table-loading-icon
{
    margin-right: 5px;
}

.Standard-Table {
    background-color: $white;
}
  
th i.fa.fa-sort-asc{
    position: relative;
    cursor: pointer;
}

th i.fa.fa-sort-desc{
    cursor: pointer;
}   

.tbl-justify {
    display: flex;
    justify-content: space-between;
}