<!--
    TODO:
    on click of button.th-sortable
    1. add aria-sort with appropriate value to sorted th https://www.w3.org/WAI/PF/aria/states_and_properties#aria-sort
    2. toggle icon (icon-caret-down, icon-caret-up)
    3. toggle opacity (.5 for inactive, 1 for active)
    4. only apply 1-3 to ONE th at a time
-->
<table class="table">
    <thead>
        <tr>
            <ng-container *ngIf="columnValue">
                <th scope="col" [attr.aria-sort]="ariaSort" *ngFor="let column of columnValue; let i = index;">
                    <button (click)="applySort(column.key, i)" class="th-sortable" [ngClass]="getToggleClass(i)">
                        {{column.value}}
                    </button>
                </th>
            </ng-container>
        </tr>
    </thead>
    <tbody *ngIf="allData.length > 0; else noColumnData">
        <tr *ngFor="let dataList of allData">
            <td>{{dataList.date}}</td>
            <td>{{dataList.amount}}</td>
            <td>{{dataList.phone}}</td>
            <td>{{dataList.description}}</td>
        </tr>
    </tbody>
    <ng-template #noColumnData>
        <tbody>
            <tr>
                <td colspan="100%">
                    No data available
                </td>
            </tr>
        </tbody>
    </ng-template>
</table>