@import "../../../../styles/_global-variables";

.table-pagination 
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 15px 20px 15px;
	position: sticky;

	.tbl-divider
	{
		position: relative;

		.tbl-footer-label-right
		{
			color: $storm;
			padding: 8px 10px;
		}
		
		.page-select-dropdown
		{
			color: $storm;
			font-size: 12px;
		}

		.pagination 
		{
			display: inline-block;
			cursor: pointer;

			li 
			{
				display: inline;
				color: $midnight;
				padding: 8px 8px;

				&:hover 
				{
					&:not(.active) 
					{
						background-color: $haze;
						color: $midnight;
					}
				}
			}

			li.active 
			{
				background-color: $haze;
				color: $midnight;
			}

			button.remove-btn-att 
			{
				background: none;
				border: none;
				color : $ultramarine;
				cursor: pointer;
			}

			button.remove-btn-att:disabled 
			{
				color: $storm;
				cursor: not-allowed;
				text-decoration: underline;
			}
		}
	}
}
