@import "../../../../styles/_global-variables";

.table-footer 
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 15px 20px 15px;
	position: sticky;

	.tbl-divider
	{
		position: relative;

		.tbl-footer-label-left
		{
			color: $midnight;
			padding: 8px 20px;
		}

		.tbl-footer-label-right
		{
			color: $storm;
			padding: 8px 10px;
		}
		
		.pageSelectDropdown{
			color: $storm;
			font-size: 12px;
			font-family: OpenSans;
		}

		.toggle-icon-parent
		{
			display: inline-block;

			a 
			{
				color: $black;
				text-decoration: none;
			}

			.toggle-icon
			{
				border: 1px solid $storm;
				padding: 4px 4px;	
			}
		}

		.pagination 
		{
			display: inline-block;

			a 
			{
				color: $ultramarine;
				padding: 8px 8px;
				text-decoration: none;

				&:hover 
				{
					&:not(.active) 
					{
						background-color: $ultramarine;
						color: $white;
					}
				}
			}

			a.active 
			{
				background-color: $ultramarine;
				color: $white;
			}

			button.remove-btn-att 
			{
				background: none;
				border: none;
				color : $ultramarine;
				cursor: pointer;
			}

			button.remove-btn-att:disabled 
			{
				color: $storm;
				cursor: not-allowed;
				text-decoration: underline;
			}
		}
	}
}













