<div class="table-pagination">
    <div class="tbl-divider">
        <span class="tbl-footer-label-right">
            {{ totalRecords }} results
        </span>
        <label for="numberOfRows" class="sr-only">Number of Rows per Page</label>
        <select id="numberOfRows" class="page-select-dropdown" (change)="setRowLimit()"
            [(ngModel)]="defaultNumberOfRows">
            <option *ngFor="let item of rowData" [ngValue]="item.rowValue">
                {{item.rowValue}} rows
            </option>
        </select>
        <div class="pagination">
            <button class="remove-btn-att" aria-label="First page" [disabled]="setDisabledLink(1)"
                (click)="changePage(1)">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </button>
            <button class="remove-btn-att" aria-label="Previous page" [disabled]="setDisabledLink(1)"
                (click)="previousPage()">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </button>
            <button class="current-page" *ngFor="let page of pages" [class.active]="page === currentPage"
                [attr.aria-label]="( page === currentPage ) ? currentPage : null" (click)="changePage(page)">
                {{ page }}
            </button>
            <button class="remove-btn-att" aria-label="Next page" [disabled]="setDisabledLink(getTotalNumberOfPages())"
                (click)="nextPage()">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
            <button class="remove-btn-att" aria-label="Last page" [disabled]="setDisabledLink(getTotalNumberOfPages())"
                (click)="changePage(getTotalNumberOfPages())">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>