@import "./styles/_global-variables";

body
{
    color: $font-color-primary;
    font-family: $font-family-default;
    font-size: $font-size-body;
    font-weight: $font-weight-regular;
}

:focus
{
    outline: none;
    box-shadow: $box-shadow-focus-default;
}