@import "./styles/_global-variables";
@import "./styles/typography.scss";
@import "./styles/buttons-links.scss";
@import "./styles/forms.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

body
{
    color: $font-color-primary;
    font-family: $font-family-default;
    font-size: $font-size-body;
    font-weight: $font-weight-regular;
}

:focus,
button:focus
{
    outline: none;
    box-shadow: $box-shadow-focus-default;
}

.icon-left
{
    margin-right: 5px;
}

.icon-right
{
    margin-left: 5px;
}