<div [hidden]="!showColumnSelector">
  <label for="columnSelector">
    Column Selector
  </label>
  <ng-select labelForId="columnSelector" #columnSelectorDropdown [items]="dropdownOptions" [clearable]="false" [closeOnSelect]="false">
    <ng-template ng-option-tmp let-item="item" let-index="index">
      <input type="checkbox" [disabled]="item.key === defaultSortColName" [checked]="item.isColumnDisplayed"
        (change)="onColumnChecked($event, item)" [id]="item.key" [name]="item.displayName">
      <label [for]="item.key">
        {{item.displayName}}
      </label>
      <span *ngIf="item.key === defaultSortColName">
        (Default)
      </span>
    </ng-template>
  </ng-select>
</div>