<div [hidden]="!showColumnSelector" class="tbl-divider">
  <span class="tbl-footer-label-right">
    Column Selector
  </span>
  <ng-select #columnSelectorDropdown [items]="dropdownOptions" [clearable]="false" [closeOnSelect]="false">
    <ng-template ng-option-tmp let-item="item" let-index="index">
      <input type="checkbox" [disabled]="item.key === defaultSortColName" [checked]="item.checked"
        (change)="onColumnChecked($event, item)" [id]="item.key" [name]="item.displayName">
      <label [ngClass]="item.key === defaultSortColName ? 'default-column': ''"
        [for]="item.key">{{item.displayName}}
      </label>
    </ng-template>
  </ng-select>
</div>